* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #23c790;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', serif;
}

/* ----- RESETS ----- */

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
}

/* ----- TODO ----- */
.todo {
    min-width: 500px;

    background-color: #fff;
    padding: 32px;
    border-radius: 12px;

    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    gap: 40px;


    /* Day */
    &-day {
        font-size: 52px;
        text-align: center;
    }

    &-date {
        text-align: center;
        color: #adadad
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &-item {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        .todo-text {
            font-size: 16px;
            color: #000;
            transition: all 0.3s ease-in-out;
        }

        &.completed {

            .todo-text {
                font-size: 14px;
                color: #adadad;
            }

            .todo-status-indicator {
                width: 12px;
                height: 12px;
                background-color: #23c790;
            }
        }
    }

    &-status-indicator {
        width: 24px;
        height: 24px;
        background-color: #e4e4e4;

        border: none;
        border-radius: 100%;

        transition: all 0.3s ease-in-out;
    }

    /* ----- TODO FOOTER ----- */
    &-footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    .trigger-btn {
        background-color: #23c790;
        padding: 12px 32px;

        border: none;
        border-radius: 6px;

        font-family: 'Inter', sans;
        font-weight: 500;
        color: #fff;

        cursor: pointer;

        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #22956f;
        }

        &.input-shown {
            background-color: #f52121;
        }
    }
}

.add-todo {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    input {
        width: 100%;
        padding: 12px;
        border: 1px solid #e4e4e4;
        border-radius: 6px;
    }

    button {
        background-color: #23c790;
        padding: 12px 32px;

        border: none;
        border-radius: 6px;

        font-family: 'Inter', sans;
        font-weight: 500;
        color: #fff;

        cursor: pointer;

        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #22956f;
        }
    }
}

/* ----- UTILITY CLASSES ----- */

.hidden {
    display: none;
}